@import '../vars/colors.vars.scss';
@import '../vars/fonts.vars.scss';

.header {
  background-color: $color--primary;
  color: $color--secondary;
  padding: .5rem 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  &__name {
    margin-left: auto;
  }
}

.burger {
  &__switch {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__background {
    background-color: rgba($color: #000000, $alpha: .5);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: calc(100vh - 131px);
    animation-name: opacity-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    &--active {
      animation-name: opacity-in;
    }
  }
  &__menu {
    background-color: $color--secondary;
    position: absolute;
    right: 0;
    top: 100%;
    max-width: 350px;
    width: 100%;
    height: calc(100vh - 131px);;
    transform: translateX(100%);
    transition-duration: 300ms;
    transition-property: transform;
    &--active {
      transform: translateX(0);
      transition-duration: 300ms;
      transition-property: transform;
    }
    .btn--menu {
      border-radius: 0;
      margin: .5rem 0;
    }
  }
}


@keyframes opacity-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
