@import '../vars/colors.vars.scss';
@import '../vars/fonts.vars.scss';

.scanner {
  background-color: black;
  height: 100%;
  &__video {
    width: 100%;
    height: 100%;
  }
  &__options {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    padding: 0 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
  }
  &__change {
    position: absolute;
    right: 1rem;
    border: 0;
    display: flex;
    align-items: center;
    height: 50px;
    background: transparent;
  }
  .scanner-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    &__container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: min-content;
      margin: auto;
      border-radius: 1rem;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: .5);
      width: 100%;
      max-width: 40rem;
      background-color: $color--secondary;
      padding: 1rem;
      &--loading-error {
        min-height: 300px;
        display: flex;
        align-items: center;
        .spinner {
          margin: 0 auto;
        }
      }
    }
    &__canvas {
      width: 100%;
    }
    &__buttons {
      display: flex;
    }
  }
}

.btn--scanner-modal {
  margin: 0 .5rem;
}
.btn--scanner {
  max-width: 15rem;
  margin: 0;
}